{
    "openstack": {
        "auth_url": "https://api.gx-scs.sovereignit.cloud:5000/v3/",
        "region_name": "RegionOne",
        "endpoint_type": "public",
        "users": [
            {
                "username": "rally-demo@pco.invalid",
                "password": "password",
                "user_domain_name": "pco",
                "project_name": "amazing-rally-demo",
                "project_domain_name": "pco"
            }
        ],
        "https_insecure": false,
        "https_cacert": ""
    }
}
